<html>

<head>
  <title>Account Credential </title>
</head>

<body>
  <div>
    <div class='entry'>
      {{#if credential}}
      <h2>Hello
        {{credential.name}}, Welcome to Tria Software Solution
      </h2>
      <h3>This is your login credential</h3>
      <div><strong>Email /Username: </strong>{{credential.email}}</div>
      <div><strong>Password: </strong>{{credential.password}}</div>
      {{/if}}
    </div>
    <div><strong>Login Url: </strong>{{loginUrl}}</div>
    <p>Cheers, </p>
    <p>If you have any questions, just reply to this email—we're always happy
      to help out.</p>
  </div>
</body>

</html>